.header {
  display: flex;
  background-color: #131921;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  object-fit: contain;
  width: 100px;
  margin: 0 20px;
  margin-top: 18px;
  cursor: pointer;
}

.header__search {
  display: flex;
  flex: 1;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  background-color: #cd9042;
  height: 22px !important;
  padding: 5px;
}

.header__link {
  color: white;
  text-decoration: none;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionLine1 {
  font-size: 10px;
}
.header__optionLine2 {
  font-size: 13px;
  font-weight: bold;
}
.header__optionBascket {
  display: flex;
}
.header__bascketCount {
  margin: 0 10px;
}
