.checkoutProduct {
  display: flex;
  margin: 20px 10px;
  padding-inline-end: 20px;
  padding: 25px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.checkoutProduct:hover {
  transform: scale(1.03);
}

.checkoutProduct__image {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 700;
}

.checkoutProduct__price {
  padding: 1px;
}
