.checkout {
  display: flex;
  height: 100vh;
  padding: 20px;
  justify-content: center;
  background-color: #eee;
  height: max-content;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  /* background-color: #fff; */
  border-bottom: 1px solid lightgray;
}
.checkout__left > h4 {
  /* background-color: #fff; */
}
.checkout__ad {
  width: 100%;
  height: 122px;
  margin-bottom: 10px;
}
